*{
    margin: 0;
    padding: 0;
}
body{
    background: #1D2228;
    font-family: 'Open Sans', sans-serif;
}
footer{
    height: 2rem;
    margin-top: 20px;
    background: #E1E2E2;
    text-align: center;
    color: #1D2228;
}
h1{
    color: #FB8122;
}
#header{
    text-align: center;
    min-height: 20vh;
    line-height: 20vh;
}
.options{
    display: grid;
    grid-template-columns: 50% 50%;
    color: #E1E2E2;
}
.two-d{
    text-align: center;
}
.three-d{
    text-align: center
}
ul{
    list-style: none;
    padding: 20px;
}
li{
    cursor: pointer;
}
li:hover{
    border-bottom: 1px solid #E1E2E2;
}
h2{
    padding: 20px;
    border-bottom: 2px solid #E1E2E2;
    max-width: 50%;
    margin: auto;
}
.calc{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;;
}
.box{
    height: 40vh;
    width: 50%;
    margin: auto;
    box-shadow: 10px 10px 64px 31px rgba(75,84,122,1);
    text-align: center;
    color: #E1E2E2;
    /* display: none; */
}
input{
    background: rgba(75,84,122,1);
    border: none;
    height: 2rem;
    margin-top: 20px;
    text-align: center;
    color: #E1E2E2;
    
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #E1E2E2;
    color: rgba(75,84,122,1);
    border: none;
    height: 2rem;
    width: 4rem;
}
.result{
    margin-top: 10px;
}